{% extends "base.html" %}
{% block title %}{{ WEB_TITLE }} - {{ employee.employee_name }}{% endblock %}

{% block page_content %}
    <div class = "page-header">
        <h1>{{ employee.employee_name }}</h1>

        <div class="profile-header">
            <p>登录名：{{ employee.login_name }}</p>
            <p>真实姓名：{{ employee.employee_name }}</p>

            <p>所在部门：{{ employee.dept.dept_name }}</p>
            <p>职位：{{ employee.role.role_name }}</p>

        <p>
            Member since {{ moment(employee.member_since).format('L') }}. <br>
            Last seen {{ moment(employee.last_seen).fromNow() }}.
        </p>


        <p>
        {% if employee == current_user %}
            <a class="btn btn-default" href="{{ url_for('main.edit_profile', id = employee.id) }}">
               编辑你的个人资料
            </a>
        {% endif %}
        {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('main.edit_profile', id = employee.id) }}">
                修改个人信息 [管理员]
            </a>
        {% endif %}
        </p>
    </div>
    </div>

{% endblock page_content %}